.projects-content .carousel {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.projects-content .carousel .projects-item {
    display: none;
}

.projects-content .carousel .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: show-up 0.5s ease-in;
    border: rgba(222, 222, 222, 0.5) 2px solid;
    row-gap: 10px;
    padding: 10px 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(222, 222, 222, 0.3);
    margin: 10px;
}

.projects-content .carousel .active > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects-content .carousel .projects-item .projects-item-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.projects-content .carousel .projects-item img {
    width: 300px;
    border-radius: 20px;
}

.projects-content .carousel .projects-item p {
    width: 300px;
    margin: 0;
    text-align: justify;
}

.projects-content .carousel button {
    width: 33px;
    height: 33px;
    margin: auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.projects-content .carousel button svg {
    width: 15px;
    height: 15px;
    fill: var(--text-color);
    stroke: var(--text-color);
}

@keyframes show-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}