:root {
  --bg-color: #fff;
  --text-color: #070020;
  --contrast-color: rgb(150, 130, 0);
  --acent-color: rgb(234, 218, 94);
  --bg-color-menu: rgba(255, 255, 255, 0.5);
  --bg-color-menu-contrast: rgba(0, 0, 0, 0.3);
}

.dark-theme {
  --bg-color: #070020;
  --text-color: #fff;
  --contrast-color: rgb(150, 130, 0);
  --acent-color: var(--contrast-color);
  --bg-color-menu: rgba(0, 0, 0, 0.5);
  --bg-color-menu-contrast: rgba(255, 255, 255, 0.3);
}

h1, h2, h3, p {
  margin: 2px;
}

.page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: ease 0.5s;
}

.main-content {
  width: 1024px;
  height: 90vh;
  display: grid;
  grid-template-columns: 40% 60%;
}
