.projects-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects-content .carousel {
    display: flex;
    flex-direction: row;
    width: 400px;
    overflow: hidden;
    text-align: center;
}

.projects-content .carousel .projects-item {
    display: none;
}

.projects-content .carousel .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    animation: show-up 0.5s ease-in;
}

.projects-content .carousel .left {
    animation: animation-left 0.5s ease-in;
}

.projects-content .carousel .right {
    animation: animation-right 0.5s ease-in;
}

.projects-content .carousel .projects-item .projects-item-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.projects-content .carousel .projects-item img {
    width: 350px;
    border-radius: 20px;
}

.projects-content .carousel .projects-item p {
    margin: 0;
}

.projects-content .carousel button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: auto;
    border: none;
}

.contact-content {
    text-align: center;
    margin-top: 10px;
}

.contact-content .contact-buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

@keyframes show-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}